
<div class='main-nav'>
    <div class='navbar navbar-inverse'>
        <div class='navbar-header'>
            <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse'>
                <span class='sr-only'>Toggle navigation</span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
            </button>
            <a class='navbar-brand' [routerLink]="['/home']">Julio Francisco de Iriarte 166</a>
        </div>
        <div class='clearfix'></div>
        <div class='navbar-collapse collapse'>
            <ul class='nav navbar-nav'>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/home']">
                        <span class='fa fa-home'></span> Quienes Somos?
                    </a>
                </li>
                <li *ngIf="_loggedIn" [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/organigrama']">
                        <span class='fa fa-sitemap'></span> Organigrama
                    </a>
                </li>
                <li *ngIf="_loggedIn" [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/admin']">
                        <span class='fa fa-lock'></span> Admin
                    </a>
                </li>
                <li *ngIf="!_loggedIn" [routerLinkActive]="['link-active']">
                    <a (click)="login()" [routerLink]="['/login']">
                        <span class="fa fa-user-o"></span> Login
                    </a>
                </li>
                <li *ngIf="_loggedIn" [routerLinkActive]="['link-active']">
                    <a (click)="logout()" [routerLink]="['/logout']">
                        <span class='fa fa-sign-out'></span> Logout
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<router-outlet></router-outlet>